<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li class="list">
      <% if task.completed? %>
      <input type="checkbox" checked="checked">
      <% else %>
      <input type="checkbox">
      <% end %>
    <%= link_to task.title, task_path(task) %>
    </li>
  <% end %>
</ul>

<button type="button" class="btn btn-primary"><%= link_to "Create new task", new_task_path %></button>
