// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: "Open Sans", sans-serif;
  color: #000;
}

li {
  list-style: none;
  padding-bottom: 5px;
}

input {
  margin-right: 10px;
}

.btn-primary a {
  color: white;
}
